*
!.gitignore
!cardgate
!cardgate/*
!cardgate/cardgate-clientlib-php
!cardgate/cardgate-clientlib-php/*
!cardgate/cg_generic.php
!cardgate/cg_process.php
!includes
includes/*
!includes/languages
includes/languages/*
!includes/languages/dutch
includes/languages/dutch/*
!includes/languages/dutch/modules
includes/languages/dutch/modules/*
!includes/languages/dutch/modules/payment
includes/languages/dutch/modules/payment/*
!includes/languages/dutch/modules/payment/cg_afterpay.php
!includes/languages/dutch/modules/payment/cg_bancontact.php
!includes/languages/dutch/modules/payment/cg_banktransfer.php
!includes/languages/dutch/modules/payment/cg_creditcard.php
!includes/languages/dutch/modules/payment/cg_directdebit.php
!includes/languages/dutch/modules/payment/cg_giftcard.php
!includes/languages/dutch/modules/payment/cg_przelewy24.php
!includes/languages/dutch/modules/payment/cg_klarna.php
!includes/languages/dutch/modules/payment/cg_bitcoin.php
!includes/languages/dutch/modules/payment/cg_billink.php
!includes/languages/dutch/modules/payment/cg_ideal.php
!includes/languages/dutch/modules/payment/cg_idealqr.php
!includes/languages/dutch/modules/payment/cg_mistercash.php
!includes/languages/dutch/modules/payment/cg_onlineueberweisen.php
!includes/languages/dutch/modules/payment/cg_paypal.php
!includes/languages/dutch/modules/payment/cg_paysafecard.php
!includes/languages/dutch/modules/payment/cg_paysafecash.php
!includes/languages/dutch/modules/payment/cg_sofortbanking.php
!includes/languages/dutch/modules/payment/cg_spraypay.php
!includes/languages/english
includes/languages/english/*
!includes/languages/english/modules
includes/languages/english/modules/*
!includes/languages/english/modules/payment
includes/languages/english/modules/payment/*
!includes/languages/english/modules/payment/cg_afterpay.php
!includes/languages/english/modules/payment/cg_bancontact.php
!includes/languages/english/modules/payment/cg_banktransfer.php
!includes/languages/english/modules/payment/cg_creditcard.php
!includes/languages/english/modules/payment/cg_directdebit.php
!includes/languages/english/modules/payment/cg_giftcard.php
!includes/languages/english/modules/payment/cg_przelewy24.php
!includes/languages/english/modules/payment/cg_klarna.php
!includes/languages/english/modules/payment/cg_bitcoin.php
!includes/languages/english/modules/payment/cg_billink.php
!includes/languages/english/modules/payment/cg_ideal.php
!includes/languages/english/modules/payment/cg_idealqr.php
!includes/languages/english/modules/payment/cg_mistercash.php
!includes/languages/english/modules/payment/cg_onlineueberweisen.php
!includes/languages/english/modules/payment/cg_paypal.php
!includes/languages/english/modules/payment/cg_paysafecard.php
!includes/languages/english/modules/payment/cg_paysafecash.php
!includes/languages/english/modules/payment/cg_sofortbanking.php
!includes/languages/english/modules/payment/cg_spraypay.php
includes/modules
!includes/modules/*
!includes/modules/payment
includes/modules/payment/*
!includes/modules/payment/cg_afterpay.php
!includes/modules/payment/cg_bancontact.php
!includes/modules/payment/cg_banktransfer.php
!includes/modules/payment/cg_creditcard.php
!includes/modules/payment/cg_directdebit.php
!includes/modules/payment/cg_giftcard.php
!includes/modules/payment/cg_przelewy24.php
!includes/modules/payment/cg_klarna.php
!includes/modules/payment/cg_bitcoin.php
!includes/modules/payment/cg_billink.php
!includes/modules/payment/cg_ideal.php
!includes/modules/payment/cg_idealqr.php
!includes/modules/payment/cg_mistercash.php
!includes/modules/payment/cg_onlineueberweisen.php
!includes/modules/payment/cg_paypal.php
!includes/modules/payment/cg_paysafecard.php
!includes/modules/payment/cg_paysafecash.php
!includes/modules/payment/cg_sofortbanking.php
!includes/modules/payment/cg_spraypay.php
!README.md
!README_DE.md
!README_NL.md
!.travis.yml
!composer.json
!phpunit.xml.dist
!tests
!tests/bootstrap.php
!tests/phpunit.xml