*
!.gitignore
!cardgateplus
!includes
includes/*
!includes/languages
includes/languages/*
!includes/languages/dutch
includes/languages/dutch/*
!includes/languages/dutch/modules
includes/languages/dutch/modules/*
!includes/languages/dutch/modules/payment
includes/languages/dutch/modules/payment/*
!includes/languages/dutch/modules/payment/cgp_afterpay.php
!includes/languages/dutch/modules/payment/cgp_bancontact.php
!includes/languages/dutch/modules/payment/cgp_banktransfer.php
!includes/languages/dutch/modules/payment/cgp_creditcard.php
!includes/languages/dutch/modules/payment/cgp_directdebit.php
!includes/languages/dutch/modules/payment/cgp_giropay.php
!includes/languages/dutch/modules/payment/cgp_giftcard.php
!includes/languages/dutch/modules/payment/cgp_przelewy24.php
!includes/languages/dutch/modules/payment/cgp_klarna.php
!includes/languages/dutch/modules/payment/cgp_bitcoin.php
!includes/languages/dutch/modules/payment/cgp_billink.php
!includes/languages/dutch/modules/payment/cgp_ideal.php
!includes/languages/dutch/modules/payment/cgp_idealqr.php
!includes/languages/dutch/modules/payment/cgp_mistercash.php
!includes/languages/dutch/modules/payment/cgp_onlineueberweisen.php
!includes/languages/dutch/modules/payment/cgp_paypal.php
!includes/languages/dutch/modules/payment/cgp_paysafecard.php
!includes/languages/dutch/modules/payment/cgp_paysafecash.php
!includes/languages/dutch/modules/payment/cgp_sofortbanking.php
!includes/languages/english
includes/languages/english/*
!includes/languages/english/modules
includes/languages/english/modules/*
!includes/languages/english/modules/payment
includes/languages/english/modules/payment/*
!includes/languages/english/modules/payment/cgp_afterpay.php
!includes/languages/english/modules/payment/cgp_bancontact.php
!includes/languages/english/modules/payment/cgp_banktransfer.php
!includes/languages/english/modules/payment/cgp_creditcard.php
!includes/languages/english/modules/payment/cgp_directdebit.php
!includes/languages/english/modules/payment/cgp_giropay.php
!includes/languages/english/modules/payment/cgp_giftcard.php
!includes/languages/english/modules/payment/cgp_przelewy24.php
!includes/languages/english/modules/payment/cgp_klarna.php
!includes/languages/english/modules/payment/cgp_bitcoin.php
!includes/languages/english/modules/payment/cgp_billink.php
!includes/languages/english/modules/payment/cgp_ideal.php
!includes/languages/english/modules/payment/cgp_idealqr.php
!includes/languages/english/modules/payment/cgp_mistercash.php
!includes/languages/english/modules/payment/cgp_onlineueberweisen.php
!includes/languages/english/modules/payment/cgp_paypal.php
!includes/languages/english/modules/payment/cgp_paysafecard.php
!includes/languages/english/modules/payment/cgp_paysafecash.php
!includes/languages/english/modules/payment/cgp_sofortbanking.php
includes/modules
!includes/modules/*
!includes/modules/payment
includes/modules/payment/*
!includes/modules/payment/cgp_afterpay.php
!includes/modules/payment/cgp_bancontact.php
!includes/modules/payment/cgp_banktransfer.php
!includes/modules/payment/cgp_creditcard.php
!includes/modules/payment/cgp_directdebit.php
!includes/modules/payment/cgp_giropay.php
!includes/modules/payment/cgp_giftcard.php
!includes/modules/payment/cgp_przelewy24.php
!includes/modules/payment/cgp_klarna.php
!includes/modules/payment/cgp_bitcoin.php
!includes/modules/payment/cgp_billink.php
!includes/modules/payment/cgp_ideal.php
!includes/modules/payment/cgp_idealqr.php
!includes/modules/payment/cgp_mistercash.php
!includes/modules/payment/cgp_onlineueberweisen.php
!includes/modules/payment/cgp_paypal.php
!includes/modules/payment/cgp_paysafecard.php
!includes/modules/payment/cgp_paysafecash.php
!includes/modules/payment/cgp_sofortbanking.php
!README.md
!README_DE.md
!README_NL.md